$textColor: #75749c;
@mixin text-style($size: 14px, $color: null, $weight: normal) {
  font-size: $size;
  color: $color;
  font-weight: $weight;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
li,
ul {
  margin: 0;
  padding: 0;
}
.bgLight {
  --background: #f2f2ff;
  --formBg: white;
  --btnBg: #3935ff;
  --inputColor: #c0c0f8;
}

.bgDark {
  --background: #0c0c28;
  --formBg: #212141;
  --h2Color: #e9e9f9;
  --btnBg: #5c59fd;
  --inputColor: #4c4c71;
}

body {
  background-color: var(--background);
  .forgetPassword {
    a {
      text-decoration: none;
      @include text-style($color: gray);
      cursor: pointer;
    }
  }
  .darkBtn {
    border-radius: 50%;
  }
  min-height: 100vh;
  form {
    background-color: var(--formBg);
    border-radius: 1rem;
    h2 {
      color: var(--h2Color);
    }
    .newHere {
      color: $textColor;
    }
    .submitBtn {
      background-color: var(--btnBg);
    }
    .form-control {
      border-color: var(--inputColor);
      background-color: var(--formBg);
      &::placeholder {
        @include text-style($color: var(--inputColor));
      }
    }
    .form-check-input {
      background-color: var(--formBg);
    }
    .form-check-label {
      @include text-style($color: var(--h2Color));
    }
    .form-label {
      @include text-style($color: $textColor);
    }
  }
}
